* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

span {
  display: block;
}

span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: right;
  z-index: 1;
}
.parallax_photo {
  margin: 0 auto;
}

.photo_container {
  position: relative;
  overflow: hidden;
  height: 80vh;
  max-height: 520px;
  width: 50%;
  margin: 0 auto;
}

.photo_container img {
  position: absolute;
  width: 100%;
  height: 160%;
  object-fit: cover;
  bottom: 0;
}
